/*GLOBAL*/
* {
  /* font-family: 'Anton', sans-serif !important; */
  font-family: "Paytone One", sans-serif !important;
}
body {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  width: 100%;
}
/**************************/

/*Sections*/
.hidden {
  display: none !important;
}

h1 {
  color: #222;
}

.views {
  margin: auto;
  width: 95vw;
}

.rating-star {
  color: gold;
}
.mobile-display {
  display: block;
  margin-top: 25px;
}
.non-mobile-display {
  display: none;
}

.fab {
  position: fixed !important;
  right: 20px;
  bottom: 20px;
}

.cast {
  height: 140px;
  width: 112px;
}
.cast-wrapper {
  height: 400px;
  min-height: auto;
}
footer img {
  max-height: 50px !important;
}
.text-footer {
  font-size: 80% !important;
  font-weight: 300 !important;
  color: #444;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.poster-wrapper {
  position: relative;
  width: inherit;
  min-height: 593px;
}
.poster {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#777), to(#fff));
  background-image: linear-gradient(#777, #fff);
  background-repeat: no-repeat;
  background-size: contain;
}

.fav-icon {
  position: absolute !important;
  top: 65px;
  left: 30px;
  width: 50px;
  height: 50px;
}

.movie-card {
  max-width: 200px;
}

.fav-wrapper {
  min-height: 593px;
}
.text-above p:nth-of-type(1) {
  font-size: 2rem;
}

.text-above {
  position: absolute;
  top: 50vh;
  left: calc(50% - 125px);
  width: 250px;
  font-size: 1rem;
  font-weight: 800;
  background: rgba(68, 68, 68, 0.05);
  color: #eee;
}
.not-here-wrapper,
.failed-request-wrapper {
  min-height: 593px;
  max-height: 100vh;
  overflow: hidden;
}

@media screen and (min-width: 375px) {
  h1 {
    font-size: 1.25rem !important;
  }
}
@media screen and (min-width: 576px) {
  h1 {
    font-size: 1.75rem !important;
  }
}

@media screen and (min-width: 768px) {
  .non-mobile-display h2 {
    font-size: 2rem !important;
  }
  .views {
    width: 90vw;
  }
  .text-above {
    font-size: 2rem;
    left: calc(50% - 350px);
    width: 700px;
  }
  .text-above p:nth-of-type(1) {
    font-size: 3rem;
  }
}

@media screen and (min-width: 958px) {
  .mobile-display {
    display: none;
  }
  .non-mobile-display {
    display: block;
    margin-top: 50px;
  }
  .text-above {
    font-size: 3rem;
    left: calc(50% - 500px);
    width: 1000px;
  }
  .text-above p:nth-of-type(1) {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .views {
    width: 80vw;
  }
}
