/*GLOBAL*/
* {
  /* font-family: 'Anton', sans-serif !important; */
  font-family: 'Paytone One', sans-serif !important;
}
body {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  width: 100%;

}
/**************************/

/*Sections*/
.hidden {
  display: none !important;
}

h1 {
  color: #222;
  text-shadow: 2px 3px 5px #999;  
}



.views {
  margin: auto;
  width: 95vw;
}

.rating-star {
  color: gold;
}
.mobile-display {
  display: block;
  margin-top: 25px;
}
.non-mobile-display {
  display: none;
}

.fab {
  position: fixed !important;
  right: 20px;
  bottom: 20px;

}


.cast {
  height: 140px;
  width: 112px;
}
.cast-wrapper {
  height: 400px;
  min-height: auto;
}
 footer img {
  max-height: 50px !important;
} 
.text-footer {
  font-size: 80% !important;
  font-weight: 300 !important;
  color: #444;
}
.text-footer a {
  text-decoration: none;
}
.text-footer a:hover {
  text-decoration: none;
}
.poster-wrapper {
  position: relative;
  width: inherit;
  height: 593px;

}
.poster {
    position: relative;
    background-image: linear-gradient(#777, #fff);
    background-repeat: no-repeat;
    background-size: contain;
}

.fav-icon {
  position: absolute;
  top: 65px;
  left: 30px;
}

.cliked-fav-icon {
  position: absolute;
  top: 65px;
  left: 30px;
}


@media screen and (min-width: 576px) {
  h1 {
    font-size: 1.75rem !important;
  }
}


@media screen and (min-width: 768px) {
  /* .mobile-display {
    display: none;
  }
  .non-mobile-display {
    display: block;
    margin-top: 50px;
    
  } */
  .non-mobile-display h2 {
    font-size: 2rem !important;
  }
  .views {
    width: 90vw;
  }
}


@media screen and (min-width: 958px) {
  .mobile-display {
    display: none;
  }
  .non-mobile-display {
    display: block;
    margin-top: 50px;
  }

}

@media screen and (min-width: 1024px) {
  .views {
    width: 80vw;
  }
}